@charset "utf-8";

$primary: #3298dc;

@import "~bulma/bulma.sass";

.primary-color {
  color: $primary;
}

footer {
  padding: 0 20px 20px;
}

form {
  .label {
    font-weight: 400;
  }
}

.box {
  .content {
    color: black;
  }
}
