@import "./main.scss";

@include desktop {
    .navbar-item {
        &.is-active {
            background-color: #fafafa !important;
        }
    }
}

@include touch {
    .navbar-start, .navbar-end {
        .navbar-item {
            justify-content: center;
            display: flex;

            &.is-active {
                background-color: transparent !important;
            }
        }

        form, .control.search-field {
            width: 100%;
        }
    }
}