@import "./main.scss";

.navbar-item {
    &.is-active {
        background-color: #fafafa !important;
    }
}

@include touch {
    .navbar-start, .navbar-end {
        .navbar-item {
            justify-content: center;
            display: flex;
        }
    }
}